<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}The Last Social Media You'll Ever Need{% endblock %} | Yatube</title>
    <!-- Загрузка статики -->
    {% load static %}
    {% load thumbnail %}
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <header>{% include 'includes/nav.html' %}</header>
    <br>
    <main>
      <div class="container">
        <h1>{% block header %}The Last Social Media You'll Ever Need{% endblock %}</h1>
        {# <h1 class="row justify-content-center">{% block header %}The Last Social Media You'll Ever Need{% endblock %}</h1> тест из-за класса не может найти этот тег#}

        {% block content %}
          <!-- Содержимое страницы -->
        {% endblock content %}
      </div>
    </main>
    {% include 'includes/footer.html' %}
  </body>
</html> 